.blg-tit-al-ofa > h2{
  padding-left: 2.5rem;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: .64px;
  color: #221e38;
  margin-top: 80px;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: capitalize;

}