.mn-cn-tr {
  padding: 0rem clamp(1.25rem, 0.8333rem + 1.8519vw, 2.5rem);
  color: #003690;
}

.sb-ct-dv {
  padding: 2rem 0.4rem;
  background-color: #f5ecec;
}

.tbi-hd {
  font-size: clamp(1.6rem, 0.7983rem + 1.7854vw, 2.5rem);
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

.eh-ol-itm {
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0.4rem 0.5rem;
  box-shadow: -2px 5px 10px 0.5px rgba(187, 166, 166, 0.5); /* Adjust as needed */
  margin-right: 1rem;
  min-height: max-content;
}

.owl-dots {
  display: none;
}

.owl-stage-outer {
  padding-left: 0.5rem;
}

.nm-us-tst {
  font-weight: 600;
  font-size: 1.2rem;
}

.pgo-tr-ind {
  font-size: 0.9rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.rat-ind-us {
  display: flex;
  gap: 0.1rem;
  margin-bottom: 0.2rem;
}

.srats {
  color: orange;
  font-size: 1.4rem;
}
