.blg-thrd-sb-dv {
  margin-bottom: 1.5rem;
  overflow: hidden;
  width: 100%; /* Ensure each item takes full width */
}

.cn-cnrf{
  display: flex;
  width: 100%;
  height: 498px;
  
}

.gbsbfr-ctr {
  width: 50%;
}

.mg-cnr {
  width: 50%;
  overflow: hidden;
}

.mg-cnr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gbsbfr-ctr > h3 {
  line-height: 45px;
}

.img-cntr > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gbsbfr-ctr {
  background-color: #f4f4f4;
  padding: 3rem 3rem 3rem 2.5rem;
}

.gbsbfr-ctr p {
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  line-height: 1.5;
}

.gbsbfr-ctr h3 {
  font-size: 2.2rem;
  font-weight: 600;
}
