.mn-blg-cn-scnd{
  margin-bottom: 1.5rem;
}
.sb-blg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.br-tp {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.rn-sc-dj {
  height: 238px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.rn-sc-dj::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( hsla(0, 0%, 100%, 0.13), hsla(0, 0%, 0%, 0.699) );
  /* background: linear-gradient(1deg, #96999e 0%, #090B0E00 110%); */
  z-index: 1;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
.rn-sc-dj > img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}
.rn-sc-dj:hover > img {
  transform: scale(1.15);
}
.rn-sc-dj > h3 {
  color: white;
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
